.student {
  font-size: 1.5em;
  padding: 15px;
  min-width: 100px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
  border: solid black 5px;
  cursor: pointer;
  display: table;
}

.studentId {
  display: table-cell;
  user-select: none;
}

.picked {
  background-color: #222;
  color: white;
}

.unpicked {
  background-color: white;
}

.selected {
  background-color: green;
  color: black;
}